@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Roboto Condensed', sans-serif;
}

/**** Css Masking ****/

/* .maskdiv{
     -webkit-mask-image: url('../image/mask-image-1.png');
     mask-image: url('../image/mask-image-1.png');
} */

/****  Css Tooltip ****/

/* 
.tooltip{
     height: 50px;
     width: 200px;
     background-color: blueviolet;
     color:white;
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 100px;
     position: relative;
}
span{
     display: none;
}

.tooltip:hover span{
     position: absolute;
     right: -140px;
     bottom:50px;
     text-align: center;
     display: block;
     height: 30px;
     width: 140px;
     background-color: black;
     font-size: 15px;
} */

/**** Css Dropdown ****/

.navigation{
     
}

nav{
     height: 100px;
     background-color: gray;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.dropdown{
     background-color: gray;
     border:0;
     color:white;
     font-weight: bold;
     font-size: 25px;
}

.dropdown-menu{
     color:white;
     font-weight: bold;
     font-size: 25px;
     text-decoration: none;
     padding: 2px;
     display: inline-block;
}

.dropdown-item{
     display: none;
     position: absolute;
     bottom: 0;
     left: 0;
     background-color: black;
     color:white;
     list-style-type: none;
     height: 100vh;
     width: 300px;
     text-align: center;
}

.dropdown-item li{
     padding:20px 10px;
}

.dropdown-item li:hover{
     background-color: gray;
     border:2px solid black;
}

/* Open */

nav:hover .dropdown-item{
     display: block;
}




/**** Css Button ****/


/**** Css Aspect-Ratio ****/

/* .aspect-ratios{
     width: 200px;
     height: auto;
     display: inline-block;
}

.aspect-ratios div:nth-child(1){
     width: 500px;
     background-color: red;
     aspect-ratio:2.35/1;
} */
