$color-red:red;
$color-blue:blue;
$color-yellow:yellow;
$color-pink:pink;
$color-gray:gray;
$color-black:black;
$bg-1:rgb(255, 17, 0);
$bg-2:rgb(255, 89, 0);
$bg-3:rgb(191, 255, 0);
$bg-4:rgb(77, 255, 0);
$bg-5:rgb(0, 82, 26);
$bg-6:rgb(0, 255, 242);
$bg-7:rgb(0, 68, 255);
$bg-8:rgb(251, 0, 255);
$bg-9:rgb(91, 0, 81);
$bg-10:orange;