/* Media Queries */


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media  (max-width: 1400px) {
  body{
    background-color: red;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media(max-width: 992px) {
  body{
    background-color: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media (max-width: 768px) {
  body{
    background-color: yellow;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media (max-width: 600px) {
  body{
    background-color: blue;
  }
}

/* Extra small devices (phones, 320px and down) */


@media (max-width: 320px) {
  body{
    background-color: brown;
  }
}


/* Other Media Queries */

@media (width <= 300px) {
  @media (max-width: 768px) {}
}


@media (300px <= width <=500px) {}


@media (orientation: landscape) {
  @media (max-width: 768px) {}
}

@media (orientation: portrait) {
  @media (max-width: 768px) {}
}

@media (width > 500px) {}


@media (width < 500px) {}


/*

    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV.

*/