:root{
    --flex-r:row-reverse;
    --flex-c:column-reverse;
}


.maindiv{
    height: 500px;
    max-width: 900px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--flex-c);
}
.div-1{
    height:100px;
    width: 100px;
    background-color: black;
    border:2px solid white;
    font-size:40px;
    color:white;
}